

/* Header logo */
.logo {
    width: 200px; /* Adjust the size of the logo as needed */
    height: auto;
    display: block; 
  }

.logo-container {
    display: inline-block;  /*align the contents left*/
  }

/* Header styling */
header {
    display: flex;
    color: solid block;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-container {
    width: 100%;
}

/* Header separator line */
.styled-hr {
    height: 2px;
    background-color: #718bd9;
}

/* Header title styling */
#title {
    margin-left: 30px;
    text-shadow: 5px 2px 2px pink;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}


.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}