.cards__item__img {
    width: 100%;
    max-width: 200px; /* Limit the width to 300px */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
}

.cards__item__link {
    display: flex;
    min-width: 500px;
}

.classimage, .cards__item__caption {
    flex: 1; /* Grow and shrink equally to fill available space */
    border: 1px solid #ddd; /* Optional: Add borders for clarity */
    padding: 10px; /* Optional: Add padding for spacing */
}