.cards__item__img {
    width: 100%;
    max-width: 300px; /* Limit the width to 300px */
    height: auto; /* Maintain aspect ratio */
    align-content: center;
    border-radius: 1rem 1rem 0 0;
}

.cards__item__link {
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: white;
    height: fit-content;
}

.cards__classname, .cards__instructor, .cards__description{
    margin: 0.5rem 5%;
}